<div class='card text-left'>
    <div class='card-header'>
      Tasks
    </div>
    <div class='card-body'>
        <div class='table-responsive table-editable'>
            <table class='table'>
                <tbody>
                    <tr *ngFor='let item of todoListIn'>
                        <td>
                            <input type="checkbox" (click)='checkingTask(item)'/>
                        </td>
                        <td class="col-md-6">
                            <div> {{item.taskDescription}} </div>                            
                        </td>
                        <td>
                            <button type="button" class="btn btn-light" (click)="openModal(editModal)">edit</button>
                        </td>
                        <td>
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true" (click)="deletingTask(item)">×</span>
                            </button>                   
                        </td>
                        <ng-template #editModal let-modal>  
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="modal-edit-task">Edit task</h2>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" 
                                    aria-label="Edited task" 
                                    [(ngModel)]='editedTask'/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="modal.close(item)">Save changes</button>
                                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
                                </div>
                            </div>       
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>

  <div class='card text-left' style="margin-top: 20px;">
    <div class='card-header text-left'>
        Completed
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='completedListIn && completedListIn.length'>
                <tbody>
                    <tr *ngFor='let item of completedListIn'>
                        <td>
                            <input type="checkbox" [checked]="!item.Completed" (click)='uncheckingTask(item)'/>
                        </td>                
                        <td class="col-md-6">
                            <div> {{item.taskDescription}} </div>                            
                        </td>                        
                        <td>
                            <button type="button" class="btn btn-light" (click)="openModal(editModal)">edit</button>
                        </td>
                        <td>
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true" (click)="deletingTask(item)">×</span>
                            </button> 
                        </td>
                        <ng-template #editModal let-modal>  
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="modal-edit-task">Edit task</h2>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" 
                                    aria-label="Edited task" 
                                    [(ngModel)]='editedTask'/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="modal.close(item)">Save changes</button>
                                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
                                </div>
                            </div>       
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
   
<ng-template #editModal let-modal>  
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-basic-title">Edit task</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="jjj"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Save changes</button>
            <button type="button" class="btn btn-primary" (click)="modal.dismiss('Close click')">Close</button>
        </div>
    </div>       
</ng-template>