<div>
  <h4>TODO</h4>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor='let item of todoListIn'>
        <th>{{ item.todoTitle }}</th>
        <td><button>check</button></td>
        <td><button>edit</button></td>
        <td><button>delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h4>Completed</h4>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor='let item of completedListIn'>
        <th>{{ item.todoTitle }}</th>
        <td><button>check</button></td>
        <td><button>delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
